/*CSS动画*/
@keyframes selectDownUpExtend
  from
    transform translateY(-32px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

.selectDownUpExtend-enter-active
  animation selectDownUpExtend .3s
.selectDownUpExtend-leave-active
  animation selectDownUpExtend .3s reverse

@keyframes selectDownUpExtendTop
  from
    transform translateY(32px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

.selectDownUpExtendTop-enter-active
  animation selectDownUpExtendTop .3s
.selectDownUpExtendTop-leave-active
  animation selectDownUpExtendTop .3s reverse